[submodule "libs/libnx"]
	path = libs/libnx
	url = https://github.com/jeffi6375/libnx.git
[submodule "libs/switch-tools"]
	path = libs/switch-tools
	url = https://github.com/Fexty12573/switch-tools
[submodule "libs/iniparser"]
	path = libs/iniparser
	url = https://github.com/ndevilla/iniparser
